.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #E4E9F2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}

button {
  padding-inline: 0px;
  padding-block: 0px;
  border-width: 0px;
}

.header-left {
  display: flex;
  gap: 56px;
  justify-content: center;
  align-items: center;
}

.header-right {
  display: flex;
  gap: 46px;
  justify-content: center;
  align-items: center;
}

.shape {
  width: 21px;
  height: 20px;

}

.avatar {
  width: 50px;
  height: 50px;
}

.navBar {
  display: flex;
  gap: 32px;


  a {

    &:hover {
      border-bottom: 4px solid #FF7E1B;

    }
  }
}

.product {

  display: flex;
  gap: 125px;
  margin-top: 62px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: left;
  }
}

.product-left {

  img {
    width: 450px;
    height: 450px;
  }
}

.product-right {
  margin-top: 62px;

  h4 {
    font-family: Kumbh Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 16.12px;
    letter-spacing: 2px;
    color: #FF7E1B;
    text-transform: uppercase;

  }

  h3 {
    font-family: Kumbh Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 27px;
  }

  p {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #69707D;
    margin-top: 32px;

  }
}

.price {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin-top: 24px;
  gap: 16px;


  h5 {
    font-family: Kumbh Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.73px;
    color: #1D2026;
  }

  h6 {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #B6BCC8;
    margin-top: 10px;
  }


  button {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    text-align: left;
    color: #FF7E1B;
    padding: 7px 8px 5px 8px;
    border-radius: 6px;
    background-color: #FFEEE2;
    border: none;

  }
}


.stock {
  display: flex;
  background-color: #F6F8FD;
  border-radius: 15px;



  button {
    padding-inline: 20px;
    margin: 0%;
    font-size: 25px;
    font-weight: 700;
    color: #FF7E1B;
    background-color: #F6F8FD;
    border-radius: 10px 10px 10px 10px;

  }

  h4 {
    padding: 26px 16px;
    font-size: 21px;
    color: black;

  }
}


.stockIn {
  border-radius: 0px 0px 10px 10px;
}

.product-lower {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.addToCart {

  margin: 0%;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 19px 76px;
  background-color: #FF7E1B;
  border-radius: 10px;
  color: #fff;

  img {
    width: 17px;
    height: 16px;
  }

  span {
    font-family: Kumbh Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    text-align: left;

  }

}